<!DOCTYPE html>
<html>
<head>
	<title>Private Circle</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="privatestyle.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="body">
	<div ng-app="myapp" ng-controller="privatecontroller">

	<div class="row" style="height:100%">

<div class="col-xs-12  col-sm-4 search-panel"  >

<div class="col-xs-12" style="width:100%">
	<div class="col-xs-1 visible-xs" style="line-height:40px">
         <i class="fa fa-arrow-left" aria-hidden="true"></i>

	</div>
	        <div class='col-xs-9 col-sm-10'  >

               <form class='col-xs-12 col-sm-12'>
                  <input type="text" name="search" class='col-xs-12 col-sm-12 searched' ng-model="search" placeholder="Search..">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-pw-tjbyMmHOfgST2eJroWLD_aUMV0XMtpuPqQ1rJHf-InS8s" id="input_image">
            </form>


        </div>
        <div class="col-xs-1 col-sm-2">

               <i class="fa fa-wifi" aria-hidden="true" style="line-height:40px">Filter</i>

        </div>
        <div  class="col-xs-12 col-sm-12"  style="padding-top:15px;" ng-repeat="x in Entity|filter : search">

              <div  class="col-xs-4">
               <img src="{{x.src}}" style="border-radius:50%;border:1px solid lightgray" width="80px" height="80px">
             </div>
              

              <div class="col-xs-8" id="list">
				<h4 class="ipad" style="padding-left:10px;" >
				<span ng-style={'background-color':'{{x.color}}'}>{{x.Type}}</span>
			</h4>
				<h4 class="ipad" style="font-weight: bold;position:relative;padding-left:10px"><a id="{{x.Id}}" ng-click="HeadInfo(x.Id)"; >{{x.company}}</a></h4>
				<h4 class="col-xs-4 ipadad" style="display:inline-block;">{{x.Advisor}}</h4>
			    <h4  class="col-xs-8 ipaduse" style="display:inline-block;text-align:center;padding-left:40px;">{{x.User}}</h4>
			    <div class="visible-sm visible-md visible-lg ipadhide">
               <i class="{{x.enve}} font col-xs-4" style="align:center" aria-hidden="true">{{x.Mescount}}</i>
                <i class="{{x.user}} font col-xs-4 "  style="text-align:center" aria-hidden="true">{{x.UCount}}</i>
               <i class="{{x.action}} col-xs-4 "   style="color:skyblue;text-align:center"aria-hidden="true"></i>


               </div>
			  </div>

			  <div class="col-xs-12 visible-xs ipadshow" style="text-align:center">

			  	<i class="{{x.enve}} font col-xs-4" aria-hidden="true">{{x.Mescount}}</i>
                <i class="{{x.user}} font col-xs-4"  aria-hidden="true">{{x.UCount}}</i>
               <i class="{{x.action}}  col-xs-4 "  style="color:skyblue"aria-hidden="true"></i>
			  </div>
		    <div style="border-bottom:1px solid gray"></div>
		</div>
</div>
</div>
<div id="container"  >
<div class="col-xs-12 col-sm-8 right-panel " id='right-panel'>
<div class="row" id="details">
             <div class="col-xs-12 col-sm-1" style="text-align:center;">
               <img src="{{data.src}}" style="border-radius:50%;text-align:center;border:1px solid lightgray" width="80px" min-height="80px">

            </div>
            <div class="col-xs-5 col-sm-4 col-md-4" style="padding-left:30px;">
            	<h4 style="padding-left: 20px"><span >{{data.Type}}</span></h4>
                 <h4 style="padding-left:20px;font-weight:bold">{{data.company}}</h4>
             
             </div>
             <div class="col-xs-4 col-sm-6 col-md-5">
              <h5  class="col-xs-12 col-sm-12 " >Members</h5>
              <h4  class="col-xs-6 col-sm-5 mob" style="font-weight:normal">{{data.Advisor}}</h4>
               <h4  class="col-xs-6 col-sm-5 mobile" style="font-weight:normal">{{data.User}}</h4>
               <p  class="col-xs-6 col-sm-5">+{{data.Adcount}} <i class="fa fa-chevron-down" aria-hidden="true"></i></p>
               <p  class="col-xs-6 col-sm-5">+{{data.Userc}}<i class="fa fa-chevron-down" aria-hidden="true"></i></p>

             </div>

             
             <div class="col-xs-12 col-sm-1 col-md-2 visible-sm visible-md visible-lg downarrow" id="pro" style="text-align:center;">
             	<div  class="col-xs-12 col-sm-12 " style="border-radius:50%;text-align:right;border:1px solid lightgray;width:40px;height:25px;margin-top:40px;"><i class="fa fa-chevron-down" aria-hidden="true"></i>

             </div>

             
             </div>



</div>
<div class="col-xs-12 col-sm-1 visible-xs downarrow" id="circle" style="text-align:center;position:relative;margin:0 auto;">
         <div class='col-xs-6'></div>

             	<div  class="col-xs-3 col-sm-12 " style="border-radius:50%;border:1px solid lightgray;width:40px;height:25px;margin-top:40px;"><i class="fa fa-chevron-down" style="margin:0 auto;" aria-hidden="true"></i>

             </div>

             
             </div>

</div>
<div  id="box" style="background-color:white;border-top:1px solid lightgray;">
        <div  id="mymessage" class="col-xs-12 col-sm-8 right-panel" style="margin-top:5px;">
                <div class='col-xs-12 col-sm-12' style="margin-top:5px" >

                    <form class='col-xs-12 col-sm-12'>

                        <input type="text" name="search" class='col-xs-12 col-sm-12 message' ng-model="message" placeholder="Search..">

                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-pw-tjbyMmHOfgST2eJroWLD_aUMV0XMtpuPqQ1rJHf-InS8s" id="input_img">
                   </form>


               </div>

<div class="row color"   ng-repeat="msg in mesdata|filter:message">

              <div  class="col-xs-12 col-sm-1" style="text-align:center;">

                     <img src="{{msg.src}}" style="border-radius:50%;border:1px solid lightgray" width="80px" height="80px">
             </div>

    <div class="col-xs-12 col-sm-6 padder">

         <h4 style="font-weight:bold;padding-left:15px">{{msg.user}}</h4>

            <div class='col-xs-12 col-sm-12'>

               <h5>{{msg.mes}}</h5>

           </div>

    </div>

          <div class="col-xs-12 col-sm-3">

               <h4 style="text-align:right;padding-right:5px" >{{msg.created}}</h4>

</div>
               <div class="col-xs-12 col-sm-2">
                   <h4  style="text-align:right;padding-right:5px">{{msg.Time}}</h4>

               </div>
                    <div style="border-bottom:1px solid lightgray">
                    	
                    </div>

</div>

<div class="col-xs-12 col-sm-12  type"  id="minsize" style="margin-top:80px;border:1px solid lightgray;background-color: white">
	    <div class="row " style="margin-top:30px;">

              <div class="col-xs-2 col-sm-1">

               <img src="{{mesdata[2].src}}" style="border-radius:50%;border:1px solid lightgray" width="80px" height="80px">

               </div>
                      <div class="col-xs-8 col-sm-9 padder" style="padding-top:10px">

                      <p style="line-height:80px;padding-left:10px;border-right:1px solid lightgray;">Start typing here to reply</p>

                      </div>

                            <div class="col-xs-2 col-sm-2">

                                 <i class="fa fa-telegram fa-2x"  style="line-height:80px;color:lightblue" aria-hidden="true"></i>

                            </div>

             </div>

   </div>
</div>
</div>
</div>
</div>
<script src="private.js"></script>
</body>
</html>