*{
	margin: 0px;
	padding:0px;
}
body,html{

	width:100%;
	height:100%;
}
.body{

	background-color:lightgray;
}
.search-panel{
	background-color: white;
	border-right: 5px solid lightgray;
}
.font{

	font-weight: normal;
}
#input_img {
    position:absolute;
    bottom:15px;
    left:20px;
    width:20px;
    height:20px;
}
#input_image {
    position:absolute;
    bottom:5px;
    left:20px;
    width:20px;
    height:20px;
}
.user {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-top: none;
    border-right:none;
    border-left:none;
}

.user:focus {
    width: 100%;
}
.search{
position: relative;
top:20px;
left:30px;
}
.right-panel{
	background-color:white;
	padding-left:10px;
}
.message{

	border:none;
	border-bottom:1px solid  lightgray;
	padding-bottom:5px;
	    box-sizing: border-box;
background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.searched{

	border:none;
	border-bottom:1px solid  lightgray;
	padding-top:5px;
	padding-bottom:5px;

	 
    background: url('http://www.iconsdb.com/icons/preview/guacamole-green/search-3-xxl.png') no-repeat scroll 7px 7px;
padding-left:30px;


}
@media  only screen and (max-width: 767px){
.search-panel{
	border:none;
}
#mymessage{
height:1350px !important;

}
.type{
	margin-top:0px !important;
}
.color{
	background-color: white;
}
#details{
	border-top:4px solid lightgray;

}
#right-panel{
	margin-top:10px;


}
.downarrow{
	margin-left:15px;
}
.mob{

	padding-left:0px;
}
.mobile{
		padding-left:15px;

}

#container{

	display:none;
}

#minsize{

width:105% !important;
}
}
@media  only screen and (min-width: 768px){

#container{

	display:block;
}

.padder{

	padding-left:40px;
}
}

@media only screen and (width:768px) and (height:1024px){
.downarrow{
text-align:left !important;
margin-left:-50px;

}

.ipad{

	padding-left:40px !important;
}
.ipadshow{
	display:block !important;

}
@media only screen and (width:1024px) and (height:1366px){
#circle{

	display:none !important;
}
#pro{

margin-left:-50px;
}
.ipadhide{
	display:none !important;

}
.ipadad{

	padding-left:40px;

}

.ipaduse{
	text-align:left;
}



}

